interface {{ dhcp_interface }};

default-lease-time 600;
max-lease-time 7200;
authoritative;

subnet {{ network }} netmask {{ netmask }} {
    range {{ dhcp_start }} {{ dhcp_end }};
    option domain-name-servers {{ dns }};
    option domain-name "entreprise.local";
}